.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1px;
    grid-template-areas:
        "hd hd hd"
        "main main side"
        "main main side"
        "main main side"
        "ft ft ft";
}