.navbar {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.65);
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Maven Pro', sans-serif;
}