@import url(style.css);

.container {  
    display: grid;
    /* border: solid 1px red; */
    grid-template-rows: repeat(3, auto);
    gap: 1px;
    grid-template-areas:
    "hd hd hd"
    "main main main"
    "ft ft ft";
}

/* .main {
    border: 1px red solid;
} */

.main > h2, h3{
    text-align: center;
}

.postone img {
    border-radius: 50%; /* Esto hará que la imagen sea redonda */
    width: 50%;
}

#BlogGrid {
    border: 1px blue solid;
    display: grid;
    grid-area: 
    "postone"
    "postcontent"
    "autor";
    grid-template-rows: repeat(3, auto);
    align-items: start;
    text-align: center;
    border-radius: 80%;
    border-style: groove;
    border-block-color: #9b5de5;
    border-top-style: dotted;
    border-top-width: 3px;
    border-bottom-width: 10px;
    gap: 10px;
    justify-items: center;
}

/* .postone{

    border: 1px solid red;
} */

.postcontent{
    /* border-radius: 10%; */
    background-color: white;
    /* border: 1px solid red; */
}
.autor{
    border-radius: 10%;
    /* border: 1px solid red; */
}

.postone > img {
    height: 50%;
    width: 50%;
    border-radius: 80%;
}

.postone > img:hover {
    opacity: 0.8;
}

.avatar {
    height: 100px;
    width: 100px;
    display: inline-flex;
} 

.socialsharing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    columns: 3;
    /* border: 1px solid blue; */
}

.socialsharing > img {
    width: 3em;
    height: 3em;
    margin: 5px;
}

#tw {
    height: 50px;
    width: 50px;
}

#fb {
    padding-top: 7px;
    height: 35px;
    width: 35px;
}

#in {
    padding-top: 5px;
    height: 42px;
    width: 42px;
}

/* Estilos para pantallas con un ancho menor a 700px */
@media only screen and (max-width: 699px) {
  .container {  
    grid-template-columns: 1fr;
  }

  #BlogGrid {
    grid-template-columns: 1fr;
  }
}

/* Estilos para pantallas con un ancho de 700px o más */
@media only screen and (min-width: 700px) {
  .container {  
    grid-template-columns: repeat(3, auto);
  }

  #BlogGrid {
    grid-template-columns: auto;
  }
}
