@import url('1.css');
@import url('2.css');
@import url('3.css');

.menu > ul {
  list-style-type: none;
  display: flex;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
}

.logo > img {
  width: 300px;
}

#nestedGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 50% 50%;
  gap: 1%;
  color: white;
}

.photo {
  width: auto;
  height: 200px;
  opacity: 0.7;
}

.photo:hover{
  opacity: 1;
}

.content {
  height: auto;
  color: whitesmoke;
  display: grid;
  padding: 5px;
}

.side > h2 {
  text-align: center;
}

#one{
  background-image:url(/simple-blog-page/src/eye1.png);
  background-size: cover;
  background-position: center;
}

#two{
  background-image:url(/simple-blog-page/src/eye2.png);
  background-size: cover;
  background-position: center;
}

#three{
  background-image:url(/simple-blog-page/src/eye3.png);
  background-size: cover;
  background-position: center;
}

#four{
  background-image:url(/simple-blog-page/src/eye4.png);
  background-size: cover;
  background-position: center;
}

#nestedFooter {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  gap: 2px;
}

#footer1 {
  background-image:url(/simple-blog-page/src/logofooter2.svg);
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  width: 150px;
  height: 150px;
}

#footer2 {
  padding: auto;
}

#footer2 > ul {
  color: white;
  font-size: initial;
  padding: 5px;
  list-style-type: disclosure-closed;
}

#footer2 > li {
  display: list-item;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
}

.footer h2 {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style:wavy;
}

body {
  font-family: 'Vollkorn', serif;
}

a {
  color: #e4fffb;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #F15BB5;
}

button {
  width: 100px;
  height: auto;
  margin: 3px;
  padding: 3px;
  border-radius: 50px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 900;
  background-color: #00F5D4;
  margin-top: 2px;
}

button:hover {
  background-color: #F15BB5;
  color: white;
}

/* Media queries */
.photo {
  width: auto;
  height: 200px;
  opacity: 0.7;
  object-fit: cover; /* this line is added */
}

/* Media queries */
@media (max-width: 699px) {
  .container {  
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
      grid-template-areas:
      "hd"
      "navbar"
      "main"
      "side"
      "ft";
  }

  .main {
      min-height: 30vh;
      overflow: auto;
  }

  .side {
      min-height: 30vh;
      overflow: auto;
  }

  .navbar, .menu {
      flex-direction: column;
  }

  #nestedGrid {
      grid-template-columns: 1fr;
  }

  .photo {
      width: 100%; 
      height: auto;
  }

  .content {
      text-align: center; /* align text to center */
  }

  .content p {
      display: block;  /* show the p elements */
      position: relative;
      z-index: 2;  /* make the p elements appear above the image */
      padding: 1em;  /* give some space around the text */
      background-color: rgba(0, 0, 0, 0.5);  /* add a semi-transparent background to the text */
  }
}

@media (min-width: 700px) {
  .container {  
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
      "hd hd hd"
      "main main side"
      "main main side"
      "main main side"
      "ft ft ft";
  }

  .navbar, .menu {
      flex-direction: row;
  }

  #nestedGrid {
      grid-template-columns: repeat(2, auto);
  }
}