.container {  
    display: grid;
    /* border: solid 1px red; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1px;
    grid-template-areas:
      "hd hd hd"
      "main main side"
      "main main side"
      "main main side"
      "ft ft ft";
    }
  
  .hd { grid-area: hd; 
        background-color: #00F5D4;
        /* border: solid 1px blue; */
    }
  
  .ft { grid-area: ft;
        background-color: #9B5DE5;
        /* border: solid 1px blue;  */
    }
  
  .main { grid-area: main;
        padding: 3px;
        background-color: #FEE440;

          /* border: solid 1px blue; */
    }
  
  .side { 
    grid-area: side; 
      background-color: #00BBF9;
    /* border: solid 1px blue; */
    }

/* Navbar styles */
.navbar {
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
}

.menu {
  display: flex;
  flex-direction: row;
  text-shadow: 1px 2px 7px rgba(0,0,0,0.65);
  width: 100%;
  height: auto;
  justify-content: center;
  /* border: 2px solid red; */
  align-items: center;
  font-size: 2em;
  font-weight: 900;
  font-family: 'Maven Pro', sans-serif;
}


.menu > ul {
  list-style-type: none;
  display: flex;
}


.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  /* border: 2px solid blue; */
}

.logo > img {
  width: 300px;
}

#nestedGrid {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 50% 50%;
  gap: 1%;
  color: white;
}

.photo {
  width: auto;
  height: 200px;
  opacity: 0.7;
  /* border: 1px solid red; */
  /* background-color: yellow; */
}

.photo:hover{
  opacity: 1;
}

/* side content */

.content {
  /* border: 1px solid red; */
  height: auto;
  color: whitesmoke;
  display: grid;
  padding: 5px;
}

/* side eyes */

.side > h2 {
  text-align: center;
}

#one{
  background-image:url(/src/eye1.png);
  background-size: cover;
  background-position: center;
}

#two{
  background-image:url(/src/eye2.png);
  background-size: cover;
  background-position: center;
}

#three{
  background-image:url(/src/eye3.png);
  background-size: cover;
  background-position: center;
}

#four{
  background-image:url(/simple-blog-page/src/eye4.png);
  background-size: cover;
  background-position: center;
}

/* Footer */

#nestedFooter {
  display: flex;
  /* border: solid 2px red; */
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  gap: 2px;
}

#footer1 {
  /* border: solid 2px blue; */
  background-image:url(/simple-blog-page/src/logofooter2.svg);
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  width: 150px;
  height: 150px;
}


#footer2 {
  /* border: solid 2px blue; */
  padding: auto;
}

#footer2 > ul {
  color: white;
  font-size: initial;
  padding: 5px;
  list-style-type: disclosure-closed;
}

#footer2 > li {
  display: list-item;
}


/* #footer3 {
  border: solid 2px blue;
}

#footer4 {
  border: solid 2px blue;
} */


/* General styles */
  
  h1 {
    font-family: 'Maven Pro', sans-serif;
}

.footer h2 {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style:wavy;
}

  body {
    font-family: 'Vollkorn', serif;
  }

  /* li {
    display: inline !important;
  } */

  a {
    color: #e4fffb;
    text-decoration: none;
    padding: 10px;
  }

  a:hover {
    color: #F15BB5;
  }

  button {
    width: 100px;
    height: auto;
    margin: 3px;
    padding: 3px;
    border-radius: 50px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    background-color: #00F5D4;
    margin-top: 2px;
  }

  button:hover {
    background-color: #F15BB5;
    color: white;
  }
